.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    padding: 5px;
}

    nav{
            background-color: #66a5ad;
    }
        
    .nav-link:hover {
        transform: scale(1.1);
    }
    .btn:hover{
        color: #c4dfe6;
            transform: scale(1.1);
            border-style: solid;
            border-bottom-width: 2px;
            border-color: black;
    }

    .btn {
        margin: 0 5px;
    }